<h1>AUTOEVALUACIÓN</h1>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
                    <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
            <label class="custom-control-label" for="defaultInline1">1</label>
          </div>

          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
            <label class="custom-control-label" for="defaultInline2">2</label>
          </div>

          <!-- Default inline 3-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInput>
            <label class="custom-control-label" for="defaultInline3">3</label>
          </div>

          <!-- Default inline 4-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInput>
            <label class="custom-control-label" for="defaultInline3">4</label>
          </div>
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
	</div>
</div>
