<h1>TIPO DE EVALUACIONES</h1><br>
<div>
  <button type="button" class="btn btn-primary">AGREGAR</button>
</div><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">EVALUACION</th>
      <th scope="col">ESTADO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tipoevaluaciones">
      <td>{{t.nombre}}</td>
      <td>{{t.evaluacion}}</td>
      <td>{{t.estado}}</td>
      <div class="container">
        <button type="button" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </div>
    </tr>>
  </tbody>
</table>
